PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://<db-host>:5432/<db-name>
SPRING_DATASOURCE_USERNAME=<db-username>
SPRING_DATASOURCE_PASSWORD=<db-password>
JWT_SECRET=de9925a2fe5c826aa1bc383f85aa948d478cc1e3884943036de2f646148e6d8c
JWT_TTL_HOURS=24

